.button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 60px;
        background-color: #5DB075;
        color: black;
        font-size: 16px;
        font-weight: 400;
        padding: 10px;
        border-radius: 24px;
        cursor: pointer;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* 그림자 조정 */
        transition: background-color 0.3s, box-shadow 0.3s;
        border: 2px solid black; /* 검은색 테두리 추가 */
}

.button:hover {
        background-color: #4CAF60; /* 호버 시 색상 변경 */
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 강조 */
}

.button:active {
        background-color: #4CAF60;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 클릭 시 그림자 감소 */
}
